
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center">Currency Converter</h2>
            <div >
                  <div class="form-group">
                    <label for="amountbx">Amount</label>
                    <input [(ngModel)]="amount" type="text" class="form-control" id="amountbx" aria-describedby="emailHelp" placeholder="Enter title">
                  </div>
                  <div class="form-group">
                    <label for="fromcurrencybx">From Currency</label>
                    <input [(ngModel)]="fromcurrency" type="text" class="form-control" id="fromcurrencybx" aria-describedby="emailHelp" placeholder="Enter title">
                  </div>
                  <div class="form-group">
                    <label for="tocurrencybx">To Currency</label>
                    <input [(ngModel)]="tocurrency" type="text" class="form-control" id="tocurrencybx" placeholder="Description">
                  </div>
                  <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
                
        </div>
       <div class="col-md-6">
        <h2 class="text-center">Result</h2>
        <div class="form-group">
            <label for="ctamountbx">Converted Amount</label>
            <input [(ngModel)]="ctamount" type="text" class="form-control" id="ctamountbx" aria-describedby="emailHelp" placeholder="Enter title">
       
       </div>
    </div>
    <div class="col-md-3"></div>
    <div>        
        <button (click)="getTransactions()" class="btn btn-primary">Last transactions</button>
        <table>
            <thead>
                <tr>
                   
                    <th>Amount</th>
                    <th>From</th>                   
                    <th>TO</th>                   
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of transactions">
                    <td>{{ item.amount }}</td>  
                    <td>{{ item.fromCurrency }}</td> 
                    <td>{{ item.toCurrency }}</td>                  
                    <td>{{ item.transactionTime }}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>

